.activity {
    height: 62rem;
    background: url(../img/activity.png);
    margin-bottom: 5.9rem;
}

.activity__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activity__info {
    margin-top: 15.5rem;
    margin-bottom: 13.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid var(--gold);
    width: 92rem;
    height: 24.5rem;
}

.activity__title {
    margin: 0;
    margin-top: 4.4rem;
    margin-bottom: 2.6rem;
    font-weight: var(--font-bold);
    font-size: 6.4rem;
    line-height: 7.5rem;
    letter-spacing: 0.32rem;
}

.activity__text {
    margin: 0;
    text-align: center;
    max-width: 77.1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
}
.activity__img {
    text-align: center;
}

@media screen and (max-width: 1100px) {

    .activity__info {
        width: 85rem;
    }
}

@media screen and (max-width: 800px) {

    .activity__wrap {
        height: 100%;
        justify-content: space-around;
    }

    .activity__info {
        padding: 3rem;
        max-width: 50rem;
        margin: 0;
    }

    .activity__title {
        margin: auto;
        text-align: center;
    }

    .activity__text {
        max-width: 50rem;
    }
}

@media screen and (max-width: 500px) {

    .activity__info {
        max-width: 40rem;
    }
}