.header__top-wrap {
    background: var(--gold);
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
}

.header__top-tel  {
    margin-right: 1.1rem;
}

.header__top-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.header__top-lang {
    width: 8.2rem;
    display: flex;
    justify-content: space-between;
}
.top-lang-active {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 0px 2px #000000;
}

.top-lang {
    opacity: 0.5;
    margin-right: 0.1rem;
}

.header__top-link:hover,
.header__top-link:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 0px 2px #000000;
}

.header__nav {
    height: 16.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35.2rem;
}

.header__nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
}

.header__nav-location {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--white);
    width: 13.2rem;
}

.header__nav-location-text {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.07rem;
    margin-right: 0.5rem;
}

.header__nav-location-text:hover,
.header__nav-location-text:focus {
    text-shadow: 0px 4px 4px var(--gold),
    0px 0px 2px var(--gold);
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 41.1rem;
    padding-right: 0.1rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.07rem;
}

.header__nav-link:hover,
.header__nav-link:focus {
    text-shadow: 0px 4px 4px var(--gold),
    0px 0px 2px var(--gold);
}

@media screen and (max-width: 800px) {

    .header__nav-wrap {
        width: 28rem;
    }

    .header__nav-logo {
        width: 13rem;
        padding-right: 1rem;
    }

    .logo-img {
        height: 3rem;
    }

    .logo-text {
        height: 1.8rem;
    }

    .header__nav-location {
        align-items: center;
        padding-left: 1rem;
    }

    .header__nav-location-img {
        height: 2.8rem;
    }

    .header__nav-menu {
        padding: 0;
        padding-left: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .header__nav-menu {
        display: none;
    }

    .burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-right: 0;
        width: 4rem;
        height: 2rem;
        transition: height 1s ease;
    }

    .burger__line {
        height: 2px;
        width: 100%;
        background: var(--white);
    }

    .burger__line-top {
        position: absolute;
        top: 0;
        left: 0;
        transition: top 1s 1s ease, transform 1s ease;
    }
    
    .burger__line-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 1s 1s ease, tranform 1s ease;
    }

    .burger__line-middle {
        transition: opacity 1s ease;
    }
    .burger__cross .burger__line-top {
        transform: rotate(45deg);
        top: calc(50% - 1.92px);
        transition: top 1s ease, transform 1s 1s ease;
    }

    .burger__cross .burger__line-bottom {
        transform: rotate(-45deg);
        bottom: calc(50% - 1.92px);
        transition: bottom 1s ease, tranform 1s 1s ease;
    }

    .burger__cross .burger__line-middle {
        opacity: 0;
    }

}